[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vi
	pager = less -r
[rerere]
	enabled = 1
[alias]
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	df = diff
	lg = log --stat --abbrev-commit
	lp = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	rb = rebase
	sb = show-branch
	st = status
[color]
	ui = auto
[user]
	name = TravisCarden
[push]
	default = simple
